body{
    font-family: 'Merriweather', serif;

    margin: 0;
}
h1{
    font-size: 50px;

}
.orange-c{
    color: orange;
}
.fle-c{
    display: flex;
    margin-bottom: 150px;
}
.one{
    width: 50%;
    padding-left:5% ;
         
    

}
.one img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(red,pink);
    color:white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}
.top-b{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 150px;
    
}
.ex-i{
    box-shadow: 10px 10px 30px gray;

    width: 30%;
    height: 30;
    margin-left: 10%;
    margin-right: 10%;
    padding: 18px;
    border-radius: 20px;
    
}
h2{
    font-size: 40px;
    text-align: center;
}
h3{
    font-size: 40px;
}
.ex{
    background-image:url(images/exp-bg.png) ;
    background-repeat: no-repeat;
    padding-left: 20px;

}
/*
#one{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan) ;
    border-image-slice: 1;

}

#two{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 0, 106),rgb(214, 83, 153)) ;
    border-image-slice: 1;

}
*/
footer p{
    text-align: center;
}
.blu{
    color:rgb(2, 2, 22)

}
.org{
    color: rgb(212, 176, 16);
}
